<ion-view title="登录" id="login" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="login-form3" class="list ">
            <ion-list id="login-list2" class=" ">
                <label class="item item-input " id="login-input5">
                    <span class="input-label">帐号</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input " id="login-input6">
                    <span class="input-label">密码</span>
                    <input type="password" placeholder="">
                </label>
            </ion-list>
            <div class="spacer" style="height: 40px;"></div>
            <button id="login-button9" class=" button button-stable  button-block ">登录</button>
            <a href="#" onclick="window.open('/signup', '_system', 'location=yes'); return false;" id="login-button10" class=" button button-positive  button-block button-clear ">Or create an account</a>
        </form>
    </ion-content>
</ion-view>