<ion-view title="注册" id="signup" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="signup-form2" class="list ">
            <ion-list id="signup-list1" class=" ">
                <label class="item item-input " id="signup-input2">
                    <span class="input-label">昵称</span>
                    <input type="text" placeholder="有趣的称呼">
                </label>
                <label class="item item-input " id="signup-input3">
                    <span class="input-label">登录帐号</span>
                    <input type="text" placeholder="手机号码">
                </label>
                <label class="item item-input " id="signup-input4">
                    <span class="input-label">密码</span>
                    <input type="password" placeholder="密码">
                </label>
            </ion-list>
            <label class="item item-input " id="signup-input8">
                <span class="input-label">确认密码</span>
                <input type="password" placeholder="确认密码">
            </label>
            <button id="signup-button8" class=" button button-stable  button-block ">注册</button>
        </form>
    </ion-content>
</ion-view>
