<ion-view title="附近" id="tab_activities" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="tab_activities-form4" class="list ">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="">
            </label>
        </form>
        <ion-list id="tab_activities-list7" class=" ">
            <ion-item id="tab_activities-list-item16" class="  ">唱k</ion-item>
            <ion-item id="tab_activities-list-item17" class="  ">打牌</ion-item>
            <ion-item id="tab_activities-list-item27" class="  ">踢波</ion-item>
            <ion-item id="tab_activities-list-item23" class="  ">睇波</ion-item>
            <ion-item id="tab_activities-list-item25" class="  ">逛街</ion-item>
            <ion-item id="tab_activities-list-item24" class="  ">听演唱会</ion-item>
            <ion-item id="tab_activities-list-item22" class="  ">酒吧</ion-item>
            <ion-item id="tab_activities-list-item18" class="  ">吃饭</ion-item>
            <ion-item id="tab_activities-list-item26" class="  ">Item</ion-item>
        </ion-list>
    </ion-content>
</ion-view>
