<ion-view title="树洞" id="tab_tree_hole" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="tab_tree_hole-form5" class="list ">
            <ion-item class="item-avatar  " id="tab_tree_hole-list-item29">
                <h2>张三</h2>
                <p style="white-space:normal;">【交易所】伦敦金银市场协会现货黄金2016年7月20日(周三)早盘定盘价为1325.60美元/盎司。</p>
            </ion-item>
            <ion-item class="item-avatar  " id="tab_tree_hole-list-item30">
                <h2>里斯</h2>
                <p style="white-space:normal;">沙特希望打造全球最大油轮船队】沙特能源部长法利赫近期表示，阿拉伯石油投资公司(Apicorp)和沙特国家船运公司(Bahri)将共同成立一个15亿美元的投资基金——Apicorp-Bahri石油船运基金，用来采购15艘巨型油轮；沙特计划打造一支全球最大的油轮船队，为加大原油出口计划提供支持。</p>
            </ion-item>
            <ion-item class="item-avatar  " id="tab_tree_hole-list-item31">
                <h2>赵钱孙</h2>
                <p style="white-space:normal;">欧盟就业与增长事务副主席卡泰宁：对中国市场经济地位并没有具体建议。</p>
            </ion-item>
            <ion-item class="item-avatar  " id="tab_tree_hole-list-item32">
                <h2>本拉登</h2>
                <p style="white-space:normal;">印度石油规划和分析小组(PPAC)：印度6月原油产出为300万吨，前值为310万吨。</p>
            </ion-item>
            <ion-item class="item-avatar  " id="tab_tree_hole-list-item33">
                <h2>爱回家</h2>
                <p>印度石油规划和分析小组(PPAC)：印度6月原油进口为1770万吨，前值为1560万吨。[更正]</p>
            </ion-item>
        </form>
    </ion-content>
</ion-view>
